MONGODB_URI=mongodb://localhost:27017/photoast
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change_this_password
NEXT_PUBLIC_BASE_URL=http://localhost:3000

# NicePay
NEXT_PUBLIC_NICEPAY_CLIENT_ID=S2_af4543a0be4d49a98122e01ec2059a56
NICEPAY_SECRET_KEY=

# NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=

# Google OAuth (https://console.cloud.google.com/apis/credentials)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Kakao OAuth (https://developers.kakao.com/console/app)
KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=
